/*
 Theme Name:   IPS San Luis
 Description:  IPS San Luis Theme
 Author:       apolanworks
 Template:     ips-sanluis
 Version:      2.1.35
 Tags:         Bootstrap
See:
*/



/* Color*/
.white{
    color: white !important;
}

.black{
    color: black;
}

.black80{
    color: #4D4D4D;
}


/* Max 480 */
@media screen and (max-width: 480px) {
    #coll{
        display: none;
    }
    #menu{
        text-align: center;
    }

    #menu .col-xs-2{
        width: 300px !important;
    }

    #menu .col-xs-1{
        border-left: 2px solid white;
    }

    #menu .row{
        float: none;
        margin: 0 auto;
    }

    .logo-black{
        height: calc(30px + 4vw) !important;
        margin-left:0;
    }

    #col-fb{
        display: block !important;
        margin-top:calc(8px + 0.3vw);

    }
    #img-fb{
        margin-left: 5px;
        height:30px;
    }

    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }


    #footer-1 div{
        float: none;
        margin: auto;
    }

    #footer-1 .col-fo{
        width: 95% !important;

    }

    #footer-1 p{
        padding-top: 2px;
        padding-bottom:2px;
        margin-bottom: 2px ;
        font-size: 8pt;
        line-height: 100%;
        vertical-align: middle;
    }

    .slide-page .container{
        margin-top: 80% !important;
    }

    .slide-page .row{
        margin:0 !important;
    }

    .border-line-white{
        width: 250px;
    }

    #light-day, #light-midday,  #light-night,  #section-programs, #section-services, #footer-1, #section-contacto, #section-habilitados, #section-hablemos{
        width: 100% !important;
        margin: 0
    }

    #blend-night{
        background-position:right;
    }

    #section-programs{
        margin-top: 40px !important;    
    }

    #section-services{
        margin-bottom: 20px !important;
    }



    #section-hablemos{
        width: 90%;
    }
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                                               M E N U
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#menu .col-xs-7{
    margin-top: calc(15px +  0.5vw);
}

.top-ow-white{
    /*  border-bottom: solid 1px whitesmoke !important; */
    background-color: transparent;
    border-style: none!important;
    transition: 1000ms;
}

.top-ow-black{
    background-color: rgba(0, 0, 0, 0.6);
    border-style: none!important;
    transition: 1000ms;
}

.col-white{
    padding-top:40px;
    transition: 1000ms;
}

.col-black{
    padding-top:calc(3px + 0.2vw);
    padding-bottom:calc(3px + 0.2vw);
    transition: 1000ms;
}

.text-menu a{
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    font-family: mbci;
    font-size: 13pt;
}

.navbar-nav li a:hover{
    color: #2D2D2D !important; 
}

.logo-black{
    height: 60px;
    margin-left:30px;
}

#col-fb{
    display: none;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                                               F O O T E R
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.bottom-ow{

}

.bottom-ow div{
    background-color: #434343;

}

#link-apolan{
    color: #8E8E8E;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                                               S E C T I O N S
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


#section-home{
    width: 100% !important;
    margin: 0;
}

#section-programs, #section-habilitados{
    margin-top: 80px;
}

.slide-page{
    height:100vh;
    background-size:cover;
    background-position: center; 
}

.slide-page ul{
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    text-align:center;    
}

.slide-page ul li{
    display: block;
    text-align: center;
    padding: 0;
}

.slide-page .container{
    margin-top: 30%;
}

.border-line-white{
    border: solid calc(3px + 0.2vw) white !important;
    display: inline-block;
}

#light-day .col-xs-12 {
    display: flex;
    align-items: center;
}

#light-midday .col-xs-12 {
    display: flex;
    align-items: center;
}

#light-night .col-xs-12 {
    display: flex;
    align-items: center;
}

#blend-night{
    background-position:top !important;
}


.img-light-big{
    height: calc(300px + 8vw) !important;
    float: right;
}

.img-light-sm{
    height: calc(60px + 4vw) !important;

}

#section-contacto{
    height: calc(150px + 5vw);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

#section-contacto .col-xs-6{

}

#section-contacto .col-xs-6:hover{
    background-color: #0589D3;
    background-blend-mode: multiply;
}


/* S E R V I C I O S*/
.programas{
    text-align: center;
}

.li-servicios{
    width: calc(80px + 3vw) !important;  /** Important**/
    padding: calc(3px + 0.5vw) !important;
}

.li-servicios-big{
    width: calc(140px + 3vw) !important;  /** Important**/
    padding: calc(3px + 0.5vw) !important;
}


.li-habilitados{
    width: calc(90px + 3vw) !important;  /** Important**/
    padding: calc(6px + 0.5vw) !important;
    display:inline-block;
    border-style: none;
}

.li-pg-ccp {
    background: #2c3f52 !important;
}

.li-pg-ccp {
    background: #faaf3b !important;
}

.li-pg-ccp {
    background: #2c3f52 !important;
}

.li-pg-ccp {
    background: #faaf3b !important;
}


.contacto-home{
    text-align: center;  
    display:inline-block;
}


/* Form*/
.prg-respuesta-1{
    border-style: solid;
    float:none;
    margin: 10px;
    display: inline-block;


}

.prg-respuesta-1 p{
    margin: auto;
    vertical-align: middle;
    font-size: 15pt;
}

.prg-type-1{
    margin: 5px;

}

.prg-type-1 h1{
    margin: 5px;
    font-family: "Arial";
    font-weight: bolder;
}

.prg-type-1 p{
    margin: 5px;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
    font-size: calc(10pt + 1vw);
    text-align: center;
}


.tab-pane h3{
    font-family:"mpb";
    font-size: calc(12pt + 1vw);
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                                               T E X T
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


#pageBld-title-0{
    font-family: 'mn';
    text-align: center;
    font-size: 1vmin;
    font-size: calc(8pt + 1.0vmax);
    font-weight: 100;
    padding-left: 3vw;
    padding-right: 3vw;
    line-height: 80%;
}

#pageBld-title-2{
    font-family: 'mpb';
    text-align: center;
    font-size: calc(12pt + 2.5vw);
    font-weight: bolder;
    margin: calc(4px + 0.5vw);
}

#pageBld-title-3{
    font-family: 'mpr';
    text-align: center;
    font-size: calc(7pt + 0.7vw) !important;
    line-height: 120% !important;
    font-weight: bolder;
    padding-left: 3vw;
    padding-right: 3vw;
    line-height: 80%;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: calc(0.5pt + 0.2vw);
}

#pageBld-title-4{
    font-family: 'mpb';
    text-align: center;
    font-size: calc(7pt + 2.5vw);
    font-style: normal;
    font-weight: 200;
    letter-spacing:1px;
}


.pageText-1{
    font-family: "nm";
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    max-width: calc(60px +20%);
    margin: auto;
}

.pageText-2{
    font-family: "mpr";
    font-size: calc(15px + 0.5vw);;
    font-style: normal;
    font-weight: 100;
    margin: auto;
}

.pst-left{
    text-align:left;
}

.pst-center{
    text-align:center;
}


.bolder-post{
    font-family: "mpb";
    text-align: center;
    font-size: calc(12pt + 0.5vw);
    font-style: italic;
    font-weight: bold;
    margin: auto;
}

.text-light h1{
    font-family: "mbci";
    font-size: calc(25pt + 0.5vw);

}

#footer-1 p{
    padding-top: 2px;
    padding-bottom:2px;
    margin-top: 5px ;
    margin-bottom: 5px ;
    font-size: 8pt;
    line-height: 100%;
    vertical-align: middle;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                                               L I G T H
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


.light-day{
    background-color: #BFBA0E;
    background-blend-mode: multiply;
}

.light-normal-blend{
    background-color: #EBEBF2;
    background-blend-mode: multiply;
    transition: 1700ms;
}

.light-day-blend{
    background-color: #BFBA0E;
    background-blend-mode: multiply;
    transition: 1700ms;
}

.light-midday{
    background-color: #E5962E;
    background-blend-mode: multiply !important;
}

.light-midday-blend{
    background-color: #E5962E;
    background-blend-mode: multiply !important;
    transition: 1700ms;
}

.light-night{
    background-color: #0589D3;
    background-blend-mode: multiply !important;
}

.light-night-blend{
    background-color: #808080;
    background-blend-mode: multiply !important;
    transition: 1700ms;
}